@import "vazirmatn/Vazirmatn-font-face.css";
@import 'primeicons/primeicons.css';

*, body, html {
  font-family: 'Vazirmatn', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.ltr-text{
  direction: ltr;
  unicode-bidi: isolate;
  text-align: center;
}